body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/*
 * Responsive
 */

@media (max-width: 420px) {
  .user-name {
    display:none;
  }
}

@media (max-width: 685px) and (min-width: 577px) {
  .kn-main {
    margin-left: 170px;
  }
}

@media (max-width: 576px) {
  .kn-sidebar {
    display: block;
    height: 200px;
  }
  .kn-main {
    margin-top: 140px;
    display: block;
    clear: both;
  }
  .topic-title, .article-title {
    margin-top: 15px;
    font-size: 18px;
  }
  .profile-image {
    margin-top: 10px;
    display: none;
  }
  .user-articles {
    margin-top: -20px;
    margin-left: -10px;
  }
  .user-information {
    margin-left: 5px;
  }
  .kn-message {
    margin-left: 25px;
  }
}

@media (max-width: 768px) and (min-width: 686px) {
  .kn-main {
    margin-left: 190px;
  }
}

@media (min-width: 769px) {
  .kn-main {
    margin-left: auto;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #888;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  box-shadow: inset -1px 0 0 rgba(100, 40, 120, .55);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #222;
  background-color: rgba(100, 40, 120, .7);
  border-color: rgba(100, 40, 120, .5);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(100, 40, 120, .55);
}

.brand-ico {
    margin-right: 5px;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Sign-in page
 */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Topic
 */

.topic-title {
    display: inline-block;
    margin-left: 15px;
}

.article-title {
    display: inline-block;
    margin-left: 0px;
}

.kn-message {
    margin-left: 15px;
  }

.topic-title-icon {
    vertical-align: middle;
    margin: 5px;
}

/*
 * Tooltips
 */
 /* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted grey; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*
 * Article preview
 */

 .article-preview {
     display: none;
     width: 100%;
     height: calc(50vh);
     margin-top:10px;
     border-radius: 5px;
     border: 1px solid lightgray;
 }

 .divider-vertical {
    
    margin: 0 4px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

.utility-text {
    font-size: 16px;
}

.profile-image {
    margin-right: 20px;
    width: 100px;
}

.user-articles {
    display: inline-block;
    clear: both;
}

.user-articles-title {
  padding-left: 15px;
}