{% extends "main.html" %} {% block content %} {% include "sidebar.html" %}
<main role="main" class="col-md-9 col-lg-9 pt-3 px-3 kn-main">
  <!-- Main section -->

  <div class="blog-post">
    <h3 class="article-title">
      <span>{{article.title}}</span>
      <a class="text-muted" href="{{url_for('editArticle', topic_id=topic.id, 
                                  article_id=article.id)}}">
        <span class="topic-title-icon" data-feather="edit"></span>
      </a>
      <a class="text-muted" href="{{url_for('deleteArticle', topic_id=topic.id,
                                  article_id=article.id)}}">
        <span class="topic-title-icon" data-feather="trash-2"></span>
      </a>
    </h3>
    <p class="blog-post-meta">Created by 
      <span class="text-success">me</span>
    </p>

    <p>{{article.description}}
      <a href="{{article.link}}">Go to source
                <span class="topic-title-icon" data-feather="external-link">
                </span>
              </a>
    </p>
    <a role="button" class="btn btn-secondary" href="{{url_for('showTopic', 
                                                      topic_id=topic.id)}}">
      Back to topic</a>
    <br>
  </div>
  <!-- /.blog-post -->
</main>
{% endblock %}
