{% extends "main.html" %} {% block content %} {% include "sidebar.html" %}
<main role="main" class="col-md-9 col-lg-9 pt-3 px-3 kn-main">
  <!-- Main section -->
  <h3 class="article-title">
    <span>New topic</span>
    </h6>
    <p></p>
    <form action="#" method="post">
      <div class="form-group">
        <label for="newTopicInput">Title</label>
        <input type="text" class="form-control" id="newTopicName" name="name" 
          placeholder="Topic Name" maxlength=35 required>
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Create</button>
        <a role="button" class="btn btn-secondary" href="/topics/my/">Cancel</a>
      </div>
    </form>
</main>
{% endblock %}