{% extends "main.html" %} {% block content %} {% include "sidebar.html" %}
<main role="main" class="col-md-9 col-lg-9 pt-3 px-3 kn-main">
    <!-- Main section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-3 pl-4">
                <img class="rounded float-left profile-image" 
                    src="{{picture}}">
            </div>
            <div class="col-sm-8 col-md-9 col-lg-9 user-information">
                <h3 class="article-title">
                    <span>Welcome {{name}}</span>
                </h3>
                <p class="text-secondary">Your email: {{email}}</p>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col user-articles">
                <h4 class="article-title">
                    <span class="user-articles-title">My articles</span>
                </h4>
                <ul class="list-group list-group-flush">
                    {%if not articles %}
                    <p class="kn-message">No articles yet.</p>
                    {% else %} {% for article in articles %}
                    <li class="list-group-item">
                        <a class="text-dark" href="{{url_for('showArticle', 
                            topic_id=article.topic_id, 
                            article_id=article.id)}}">
                            <span class="topic-title-icon" 
                                data-feather="file-text"></span> 
                            {{article.title}}
                        </a>
                    </li>
                    {% endfor %} 
                    {% endif %}
                </ul>
            </div>
        </div>
</main>
{% endblock %}